# ignore created HTML pages
*.html

# ignore save and diff files
*.html.save
*.html.diff

# ignore log files
*.log

# ignore downloaded XML data
*-Data.xml

# currently ignore ols test data
OldTest/*

