# ignore created HTML pages
*.html

# ignore created wiki pages
*.wiki

# ignore save and diff files
*.save
*.diff

# ignore log files
*.log

# ignore downloaded XML data
*-Data.xml

#ignore PDF files since we did not create them, source is 3rd-party
*.pdf
*.PDF

# currently ignore also old test data
OldTest/*

