Perl Modules
- List::MoreUtils
- Getopt::Long
- POSIX
- Locale::gettext
- utf8
- Encode
- DBI
- DateTime
- Data::Dumper
- Exporter
- Geo::Parse::OSM
- MediaWiki::API
- GIS::Distance
- Math::Units
- Math::Polygon
